<h1>基本ページ</h1>

<h2>バージョン</h2>
Rails:5.2.3
ruby:2.6.3p62
DB:sqlite 

<h2>実装したもの</h2>
<ul>
<li>ToDoで追加、編集、削除</li>
<li>ログイン、ログアウト、新規登録系統</li>
<li>レイアウトは適当に</li>
</ul>
<h2>できてないこと</h2>
JS,Reactの実装(Reactの設定をいくつか試したができなかった。)

<%= react_component("HelloWorld", { greeting: "Hello" }) %>
