

header{
    top:0px;
    height:60px;
    background-color: skyblue;
    .header-left{
        line-height:20px;
        li{
            margin-right:40px;
            list-style:none;        
            float:left;
            padding-top:20px;
            }
        
        a{  display: inline-block;
            background-color:white;
            padding:5px 10px;
            text-align:center;
            &:hover{
                opacity: 0.6;
            }
        }
    }
}

// app_scssに記述して良い
a{
    text-decoration:none;
    background: pink;
    padding: 1px 3px;
    border-radius:4px;
    font-size: 0.8em;
    color:black;
    &:hover{
        opacity: 0.8;
    }
}

.blue-button{
    padding:1px 3px; 
    background:skyblue; 
    border:0 none;
    border-radius: 4px; 
    font-size: 0.8em;
    &:hover{
        opacity: 0.8;
    }
}

.forlink{
    margin-top:20px;
    }

.edit{
    text-decoration:none;
    background: pink;
    padding: 5px 5px;
    border-radius:4px;
    color:black;
    &:hover{
        opacity: 0.8;
    }
}
// ここまでapp.scss

// centerのみ
.center{
    text-align:center;
}

//

.flash{
    text-align: center;
    background-color: yellow;
    height:40px;
    line-height:40px;
}

main{
    padding:20px 100px ;
    
    margin-bottom:60px;
}

footer{
    border-top:1px solid gray;
}


// table
table{
    border: 1px solid;
    tr{
      border:none;
        td{
            border:none;
        }
    }
}
.table{
    border: 1px solid;
    width:400px;
}

// footer
footer{
    div{
        padding-top:20px;
        padding-left:20px;
    }
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


